.agenda {
	background-color: #f0f0f0;
	z-index: 1;
	padding-top: 70px;
	padding-bottom: 80px;
	@media (min-width: $md) {
		padding-bottom: 100px;
		padding-top: 100px;
	}

	.container {
		@media (max-width: $sm) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.heading-xl {
		font-size: 52px;
		line-height: 1em;
		@media (max-width: $md) {
			font-size: 32px;
			text-align: center;
		}
	}

	.event-list-border {
		@media (max-width: $lg) {
			border-bottom: 4px solid #dfdfdf;
			margin-left: -25px;
			margin-right: -25px;
			margin-top: 20px;
		}
	}

	.event-list {
		margin-left: 35px;
		margin-top: 32px;
		@media (max-width: $lg) {
			margin-top: 32px;
			margin-left: 0px;
		}
	}


	.event-item {
		position: relative;
		margin-left: 55px;
		padding-top: 32px;
		padding-bottom: 32px;
		@media (min-width: $lg) {
			margin-left: 0px;
		}
	}

	.event-title {
		font-size: 26px;
		font-weight: 700;
		letter-spacing: 0;
		line-height: 1.2em;

		@media (max-width: $md) {
			font-size: 18px;
		}
		@media (max-width: $xs) {
			font-size: 16px;
		}
	}

	.event-text {
		font-size: 16px;
		line-height: 1.4em;
		font-weight: 700;
		letter-spacing: -0.412px;
		@media (max-width: $md) {
			font-size: 13px;
		}

		&.event-text-speakers {
			font-weight: 500;
		}
	}

	.event-abstarct {
		font-size: 15px;
		line-height: 1.4em;
		font-weight: 500;
		letter-spacing: -0.412px;
		@media (max-width: $md) {
			font-size: 14px;
		}
	}

	li:not(:last-of-type) {
		border-bottom: 2px solid #dfdfdf;
	}

	#track-marker {
		width: 25px;
		border-width: 0px 3px 0px 0px;
		position: absolute;
		left: -55px;
		top: 38px;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translateY(-38px);
		@media (max-width: $sm) {
			left: -50px;
		}
	}

	li:first-of-type {
		#track-marker-text {
			transform: translateY(0px);
		}
	}

	.track-marker-text {
		position: absolute;
		color: #000;
		font-size: 12px;
		line-height: 1em;
		font-style: normal;
		font-weight: 700;
		margin-right: 8px;
		// position //
		width: fit-content;
		transform: rotate(270deg);
		text-transform: uppercase;
		white-space: nowrap;
	}

	.no-label {
		.track-marker-text {
			display: none;
		}
	}

	.stage-stack {
		.stage-card {
			width: 100%;
			text-align: left;
			position: relative;

			&.selected {
				.stage-card-container {
					background-color: rgb(255, 255, 255);
					border-radius: 12px 16px 16px 12px;
					// margin-right: 32px;
					height: auto;
					@media (max-width: $md) {
						border-radius: 8px;
					}
					.tab {
						font-weight: 700;
					}

					@media (max-width: $lg) {
						margin-right: 0;
					}
				}
				// .stage-card-arrow {
				// 	background-color: rgb(255, 255, 255);
				// }
			}

			&.width-border {
				.stage-card-container {
					border-bottom: 2px solid #e0e0e0;
				}
			}

			.stage-card-container {
				min-height: 96px;
				height: 100%;
				padding: 20px 20px 20px 20px;
				border-radius: 0;
				background-color: transparent;
				position: relative;
				z-index: 1;
				border-bottom: 2px solid transparent;

				@media (max-width: $md) {
					min-height: 60px;
					display: flex;
					justify-content: space-between;
					align-items: flex-start;
					padding: 15px 15px 15px 15px;
					height: auto;
				}
			}

			// .stage-card-arrow {
			// 	content: "";
			// 	position: absolute;
			// 	top: 17px;
			// 	right: 6px;
			// 	height: 62px;
			// 	width: 62px;
			// 	z-index: 0;
			// 	border-radius: 0px 8px 0px 0px;
			// 	transform: rotate(45deg);
			// 	background-color: transparent;
			// 	z-index: 0;

			// 	@media (max-width: $lg) {
			// 		display: none;
			// 	}
			// }
		}
	}

	.tab {
		color: #000;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 1em;
		letter-spacing: 0.2px;
		@media (max-width: $md) {
			font-size: 16px;
			margin-right: 16px;
			white-space: nowrap;
			margin-top: 7px;
		}
	}

	.tab-tags {
		color: #ffffff;
		font-size: 10px;
		font-style: normal;
		font-weight: 700;
		line-height: 1em;
		letter-spacing: 0px;
		text-transform: uppercase;
		border-radius: 5px;
		padding: 8px 10px;
		margin-right: 3px;
		margin-top: 3px;
		@media (min-width: $md) {
			margin-top: 8px;
			margin-right: 6px;
		}
	}

	.button {
		background-color: #e0e0e0;
		border: unset;
		&.selected {
			background-color: #fff;
			.filter {
				animation: unset;
			}
		}
		@media (max-width: $md) {
			width: auto;
		}
	}
}
