.details {
	// padding-top: 80px; //original padding
	padding-top: 100px;
	@media (min-width: $md) {
		padding-top: 120px;
		transform: translateX(0px);
	}

	.container {
		padding-bottom: 520px;
		@media (min-width: $sm) {
			padding-bottom: 350px;
		}
		@media (min-width: $md) {
			padding-bottom: 420px;
		}
		@media (min-width: $lg) {
			padding-bottom: 380px;
		}
		@media (min-width: $xl) {
			padding-bottom: 120px;
		}
		@media (min-width: 1980px) {
			position: relative;
		}
	}

	.gradient-5 {
		width: 100%;
		&::before {
			content: "";
			position: absolute;
			top: -600px;
			right: 50%;
			width: 3000px;
			height: 1700px;
			background-image: url(../images/sections/gradient-5.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			transform: translateX(50%);
			z-index: -1;
			@media (max-width: $md) {
				z-index: 0;
			}
		}
	}

	.content {
		z-index: 1;
		position: relative;
	}
	
	.heading-xl {
		font-weight: 900;
		font-size: 60px;
		letter-spacing: 0;
		line-height: 66px;
		max-width: 880px;
		@media (max-width: $md) {
			font-size: 40px;
			line-height: 46px;
		}
	}
	.text-xl {
		font-size: 24px;
		font-weight: bold;
		letter-spacing: 0;
		line-height: 38px;
		max-width: 673px;
		@media (max-width: $sm) {
			font-size: 20px;
			line-height: 30px;
			max-width: 100%;
		}
	}
	.map-link {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	address {
		font-size: 26px;
		font-weight: bold;
		letter-spacing: 0;
		font-style: normal;
		br {
			display: none;
		}
		@media (max-width: $sm) {
			font-size: 18px;
			br {
				display: inline-block;
			}
		}
	}
	.text {
		@media (min-width: $sm) {
			max-width: 318px;
		}
		@media (min-width: $md) {
			max-width: 418px;
		}
		@media (min-width: $lg) {
			max-width: 518px;
		}
	}

	.details-section-bg {
		position: absolute;
		z-index: 1;
		bottom: 0;
		right: 0;
		height: auto;
		width: 400px;
		@media (min-width: $sm) {
			width: 420px;
		}
		@media (min-width: $md) {
			width: 480px;
		}
		@media (min-width: $lg) {
			width: 550px;
		}
		@media (min-width: $xxl) {
			width: 580px;
		}
		@media (min-width: 1980px) {
			transform: translateX(80px);
		}
	}
}
