.sponsors {
	overflow: visible;
	padding-top: 70px;
	@media (min-width: $md) {
		padding-top: 100px;
	}
	.sponsors-list{
		z-index: 1;
		position: relative;
	}
	.container {
		position: relative;
	}
	.gradient-1 {
		position: absolute;
		top: -500px;
		right: 0;
		transform: translateX(50%);
		z-index: 0;
		@media (max-width: $lg) {
			top: -300px;
			transform: translateX(65%);
		}
	}
	.gradient-2 {
		position: absolute;
		top: 1000px;
		left: 0;
		transform: translateX(-65%);
		z-index: 0;
		@media (max-width: $lg) {
			opacity: 0.9;
			top: 1800px;
			transform: translateX(-70%);
		}
	}
}
