.header-nav {
	backdrop-filter: unset;
	background-color: transparent;
	background-image: none;
	padding-top: 86px;
	transform: translateY(-100vh);
	height: 100%;
	@media (min-width: $sm) {
		padding-top: 135px;
	}
	@media (min-width: $md) {
		padding-top: 124px;
	}
	@media (min-width: $lg) {
		transform: translateY(0);
		padding-top: 0px;
	}
	@media (max-width: $lg) {
		padding-bottom: 0px;
		position: fixed;
		left: 0px;
		right: 0px;
		top: 0px;
		border-radius: 0px 0px 20px 20px;
		transition: all 300ms ease-in-out 200ms;
		border-radius: 0;
		will-change: all;
		background: transparent;
		ul {
			opacity: 0;
			transition: all 300ms ease-in-out;
			will-change: all;
			li {
				display: block;
				padding: 10px 0;
				width: 100%;
				a.nav-link {
					display: block;
					font-style: normal;
					font-weight: bold;
					font-size: 32px;
					line-height: 1.1;
				}
			}
		}

		.container {
			padding-left: 50px;
			padding-right: 50px;
			padding-top: 50px;
			border-color: transparent;
			transition: all 300ms ease-in-out 0ms;
			height: 100%;
			overflow-y: auto;
			overscroll-behavior: none;

			@media (min-width: $sm) {
				padding-top: 70px;
			}
			@media (min-width: $md) {
				padding-top: 105px;
			}
			@media (min-width: $lg) {
				padding-top: 0;
				padding-left: 0;
				padding-right: 0;
				border-top: 0px;
			}
		}
	}

	.nav-link {
		font-family: $satoshi;
		font-weight: bold;
		font-size: 14px;
		color: #000000;
		letter-spacing: 0.18px;
		line-height: 32px;
		text-decoration: none;
		text-align: center;
		position: relative;
		transition: 200ms color ease-out;
		padding: 6px 0px;
		@media (max-width: $lg) {
			padding: 16px 0px;
		}

		&:hover {
			color: $red;
			text-decoration: underline;
		}
	}
}

.header.menu-opened {
	.header-nav {
		transform: translateY(0);
		@media (max-width: $lg) {
			ul {
				transition: opacity 300ms ease-in-out 450ms;
				opacity: 1;
			}
			.container {
				transition: all 400ms ease-in-out 200ms;
				border-top: 1px solid #dfdfdf;
			}
		}
	}
}

.header.shrinked-header.menu-opened {
	.header-nav {
		padding-top: 62px;
		@media (min-width: $sm) {
			padding-top: 60px;
		}
		@media (min-width: $md) {
			padding-top: 80px;
		}
		@media (min-width: $lg) {
			padding-top: 0px;
		}
	}
}
